@import "tailwindcss";
@import "./styles/variables.css";

@custom-variant dark (&:is(.dark *));

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  transition: background-color var(--transition-base),
    color var(--transition-base);
}

#root {
  min-height: 100vh;
}
